#button-container{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}

button{
    font-family: Arial, Helvetica, sans-serif;
}

#dice-container
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.die{
    margin: 10px;
    background-color: red;
    color: white;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}